*{
    box-sizing:border-box;
}

body{
    margin:0;
}

.nav{
    background-color: #424A3B;
    color:#FFF7F3;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:4rem;
    padding:1rem 4rem;
    border-bottom: 1px solid #FFF7F3;
    Font-size:14px;
}

.site-head{
    font-size:20px;
    font-family: 'Righteous', cursive;
}

.nav ul{
    margin:0;
    padding:0;
    list-style:none;
    display: flex;
    gap: 4rem;
}

.nav a{
    color:inherit;
    text-decoration:none;
    height:100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active{
    color: #ff9380;
}

.nav li:hover{
    color: #ff9380;
}