.visually-hidden{
    color:rgb(140, 191, 248);
    margin-bottom: 3%;
}

input{
    background-color: antiquewhite;
    color:black;
    height:20px;
    width:200px;
    font-size: 16px;
    padding: 2%;
    border:none;
}

button{
    background-color:#424A3B;
    color:rgb(255, 255, 255);
    border: 1px solid #FFF7F3;
    height:auto;
    width:200px;
    font-size: 16px;
    padding: 1%;
}